.search-wrapper {
    height: 2.5em;
    width: 100%;
    margin: auto;
    text-align: center;
}
input[type="text"], button {
    height: 100%;
    font-size: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input[type="text"] {
    max-width: 70%;
}
button {
    width: 25%;
}
.more-results-wrapper {
    text-align: center;
}
#more-results {
    display: none;
}
#more-results.visible {
    display: inline-block;
}

.distance {
    color: #999;
}


.market-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #111;
}

.market-summary {
    padding: 0 10px;
    margin: 1%;
    width: 15em;
    min-height: 10em;
    border: 3px solid #666;
    font-family: sans-serif;
}

/* Title */
.market-summary h3 {
    font-family: serif;
    color: #444;
}

.market-summary a, a:visited {
    color: #444;
}
.market-summary a:hover {
    color: #666;
}
