.market-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #111;
}

.market-summary {
    padding: 0 10px;
    margin: 1%;
    width: 15em;
    min-height: 10em;
    border: 3px solid #666;
}
/* Title */
.market-summary h3 {
    color: #444;
}
